<!DOCTYPE HTML>
<html>
    <head> 
    <title> To-Do </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.navbar {
    overflow: hidden;
    background-color: #96CEF1;
    font-family: Courier
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
</style>
    </head>
    <body>
            <div class="navbar">
      <a href="/">Get Your Life Together</a>
      <a href="/advice">Advice</a>
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">School
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <a href="/todo">To-Do List</a>
          <a href="/resume">Resume</a>
          <a href="/study">Study Resources</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction1()">Health
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="health">
          <a href="/food">Food</a>
          <a href="/exercise">Exercise</a>
          <a href="/sleep">Sleep</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction2()">Trending
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="trending">
          <a href="/fashion">Fashion</a>
          <a href="/video">Video Games</a>
          <a href="/music">Music</a>
        </div>
      </div> 
    </div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}

function myFunction1() {
    document.getElementById("health").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("health");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}

function myFunction2() {
    document.getElementById("trending").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("trending");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>


<h1>Build your To-Do List</h1> </h1>

<h3>This To-Do list will calculate how much time you should spend each day to accomplish your goals.</h3>

<p><tr><th>To-Do's:&emsp;&emsp;&emsp;&emsp;Number of hours<br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;for activity:
    <form method="post" action="/results">
        <td>
         <input type="text" name="activity1">
        </td>

        <td>
<input type="number" name="q1" min="1" max="10">
        </td> <br><br>
       <td>
            <input type="text" name="activity2">
        </td>

        <td>
            <input type="number" name="q2" min="1" max="10">
        </td>
      <br><br>
       <td>
            <input type="text" name="activity3">
        </td>

        <td>
            <input type="number" name="q3" min="1" max="10">
        </td>
      <br><br>
       <td>
            <input type="text" name="activity4">
        </td>

        <td>
           <input type="number" name="q4" min="1" max="10">
        </td>
      <br><br>
       <td>
           <input type="text" name="activity5">
        </td>

        <td>
           <input type="number" name="q5" min="1" max="10">
        </td>
  <br><br>
     How many days do you have to complete these activities? <br>(be reasonable) <input type="number" name="days" min="1" max="31"> <br><br>
      <input type="submit" value="Submit"> </>
</form> 
    </form>
</tr>
<style> body{background:lavender} h1{background-color:#96CEF1;
text-align: center; font-family:courier;
color: white;
width: 350px;
    border: 25px white;
    padding: 30px;
    margin: 25px;
position:relative;
left: 500px} h3{text-align: center; font-family:courier}
form{text-align:center;
font-family: courier;
font-size:20px; border: 1px solid black;
    outline-style: outset;
    outline-color: #96CEF1}

p{text-align: center; font-size: 20px; font-family: courier} </style>
    </body>
</html>